.fire-notif{
    position: fixed;
    right: 15px; top: 15px;
    z-index: 99999;
    width: 390px;
    padding: 15px;
    background-color: #d9534f;
    border-radius: 2px;
    box-shadow: -3px 5px 30px #db5d58;
    color: #fff;
}

.list-update{
    margin: 0;
}